body {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}


header {
    display: flex;
    margin: 20px 20px ;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 2, 154);
    color: blanchedalmond;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product img {
    width: 120px;
    height: 110px;
    border-radius: 10px;
}

img:hover {

}

.product {
    background-color: orange;
    border: 3px solid rgb(139, 63, 0);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px black;
}

button{
    border-radius: 15px;
    background-color: burlywood;

}

button:hover {
    cursor: pointer;
    background-color: rgb(88, 1, 195);
    color: orange;
    border-radius: 15px;

}
