body {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    min-width: 90vw;
    margin: 0;
    padding: 20px;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: purple;
}

h1 {
    color: white;
}

header {
    display: flex;
    margin-bottom: 20px ;
    height: 43px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 2, 154);
    color: blanchedalmond;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product img {
    width: 120px;
    height: 110px;
    border-radius: 10px;
}

.product {
    background-color: orange;
    border: 3px solid rgb(139, 63, 0);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px black;
}


/* button code */
button {
    border-radius: 4px;
    background-color: burlywood;

}

button:hover {
    cursor: pointer;
    background-color: rgb(88, 1, 195);
    color: orange;
    border-radius: 4px;

}


/* images changing with hover */
img.skelly-hover:hover {
    content: url(images/skeletonhover.webp);
    transition: opacity 2.5s ease;

} 

img.cat-hover:hover {
    content: url(images/cathover.webp);
}

img.pumpkin-hover:hover {
    content: url(images/pumpkinhover.webp)
}

img.bat-hover:hover {
    content: url(images/bathover.webp);
}

img.spider-hover:hover {
    content: url(images/spiderhover.webp)
}

img.stone-hover:hover {
    content: url(images/tombstonehover.webp);
}

img.ghost-hover:hover {
    content: url(images/ghostshover.webp);
}

img.dog-hover:hover {
    content: url(images/dogskellyhover.webp);
    transition: 1s ease-in-out;
}


/* first attempt at image hover changed
.dog-hover:hover {
    background-image: url(images/dogskellyhover.webp);
    height: 100px;
    width: 100px;
    transition: 0.5s ease-in-out;
} */


/* footer & icons */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(103, 2, 154);
    color: blanchedalmond;
    padding: 0;
    border-radius: 15px;
    height: 35px;
    margin-top: 3%;
    font-size: 20px;
}

.fa-github {
    color: blanchedalmond;
}
.fa-linkedin {
    color: blanchedalmond;
}



/* media queries */
@media (min-width: 1200px) {
    .product img {
        width: 210px;
        height: 190px;
        border-radius: 10px;
    }

    h2 {
        font-size: 40px;
    }

    h1 {
        font-size: 35px;
    }

    p {
        font-size: 30px;
    }

    button {
        font-size: 20px;
        height: 60px;
        width: 140px;
        border-radius: 10px;

    }

}